.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
    width: 30px;
    height: 10px;
    margin: 0 0 5px 0;
    background: magenta;
    transition: all 0.5s ease-out;
}

.menu-btn.close {
    transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
    opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;
}

.menu.show {
    visibility: visible;
}

.menu-branding,
.menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
}

.menu-nav {
    margin: 0;
    padding: 0;
    background: black;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out;
}

.menu-nav.show {
    transform: translate3d(0, 0, 0);
}

.menu-branding {
    background: #F5F9F8;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out;
}

.menu-branding.show {
    transform: translate3d(0, 0, 0);
}

.menu-branding .portrait {
    width: 250px;
    height: 250px;
    background: url("../img/cv.jpg");
    border-radius: 50%;
    background-repeat: none;
    border: solid 6px transparent;
}

.menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out;
}

.menu .nav-item.show {
    transform: translate3d(0, 0, 0);
}

.menu .nav-item.current>a {
    color: white;
}

.menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 40px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: white;
    text-decoration: bold;
    transition: all 0.5s ease-out;
}

.menu .nav-link:hover {
    color: transparent;
    transform: scale(1.25)
}

.nav-item:nth-child(1) {
    transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
    transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
    transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
    transition-delay: 0.4s;
}

* {
    box-sizing: border-box;
}

body {
    background-image: repeating-linear-gradient(135deg, rgba(145, 145, 145, 0.02) 0px, rgba(145, 145, 145, 0.02) 39px, rgba(140, 140, 140, 0.02) 39px, rgba(140, 140, 140, 0.02) 57px, rgba(9, 9, 9, 0.02) 57px, rgba(9, 9, 9, 0.02) 91px, rgba(217, 217, 217, 0.02) 91px, rgba(217, 217, 217, 0.02) 119px, rgba(45, 45, 45, 0.02) 119px, rgba(45, 45, 45, 0.02) 141px, rgba(227, 227, 227, 0.02) 141px, rgba(227, 227, 227, 0.02) 184px, rgba(236, 236, 236, 0.02) 184px, rgba(236, 236, 236, 0.02) 227px, rgba(124, 124, 124, 0.02) 227px, rgba(124, 124, 124, 0.02) 244px), repeating-linear-gradient(135deg, rgba(39, 39, 39, 0.02) 0px, rgba(39, 39, 39, 0.02) 23px, rgba(2, 2, 2, 0.02) 23px, rgba(2, 2, 2, 0.02) 55px, rgba(13, 13, 13, 0.02) 55px, rgba(13, 13, 13, 0.02) 71px, rgba(44, 44, 44, 0.02) 71px, rgba(44, 44, 44, 0.02) 98px, rgba(240, 240, 240, 0.02) 98px, rgba(240, 240, 240, 0.02) 134px, rgba(182, 182, 182, 0.02) 134px, rgba(182, 182, 182, 0.02) 159px, rgba(246, 246, 246, 0.02) 159px, rgba(246, 246, 246, 0.02) 174px, rgba(157, 157, 157, 0.02) 174px, rgba(157, 157, 157, 0.02) 190px), repeating-linear-gradient(135deg, rgba(145, 145, 145, 0.02) 0px, rgba(145, 145, 145, 0.02) 35px, rgba(217, 217, 217, 0.02) 35px, rgba(217, 217, 217, 0.02) 53px, rgba(199, 199, 199, 0.02) 53px, rgba(199, 199, 199, 0.02) 70px, rgba(196, 196, 196, 0.02) 70px, rgba(196, 196, 196, 0.02) 114px, rgba(137, 137, 137, 0.02) 114px, rgba(137, 137, 137, 0.02) 143px, rgba(249, 249, 249, 0.02) 143px, rgba(249, 249, 249, 0.02) 191px, rgba(247, 247, 247, 0.02) 191px, rgba(247, 247, 247, 0.02) 239px, rgba(38, 38, 38, 0.02) 239px, rgba(38, 38, 38, 0.02) 273px), linear-gradient(90deg, rgb(69, 69, 69), rgb(3, 3, 3));
    color: whitesmoke;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

body#bg-img {
    background-repeat: none;
    background: url(../img/12.jpg);
    background-attachment: fixed;
    background-size: cover;
}

body#bg-img:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: transparent;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;
}

h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
    padding-bottom: 2%;
    padding-top: -2%;
    color: white;
    font-size: 6rem;
}

h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
    color: rgb(255, 255, 255);
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: transparent;
}

a {
    color: rgb(253, 48, 202);
    /* color:rgb(255, 255, 255); */
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary1 {
    color: white;
    font-size: 40px;
}

main {
    padding: 4rem;
    min-height: calc(100vh - 60px);
}

main .icons {
    margin-top: 1rem;
}

main .icons a {
    padding: 0.4rem;
}

main .icons a:hover {
    color: black;
    transition: all 0.5s ease-out;
}

main#home {
    overflow: hidden;
}

main#home h1 {
    margin-top: 20vh;
}

.about-info {
    display: grid;
    grid-gap: 120px;
    grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);
}

.about-info .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: transparent 6px solid;
}

.about-info .bio {
    color: white;
    grid-area: bio;
    font-size: 1.5rem;
}

.about-info .job-1 {
    color: whitesmoke;
    grid-area: job1;
}

.about-info .job-2 {
    color: whitesmoke;
    grid-area: job2;
}

.about-info .job-3 {
    color: whitesmoke;
    grid-area: job3;
}

.about-info .job {
    background: rgb(87, 87, 241);
    padding: 0.5rem;
    border-bottom: rgb(0, 0, 0) 40px solid;
    border-radius: 10%;
    font-size: 20px;
}

.projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);
}

.projects img {
    width: 100%;
    border: 3px wh solid;
}

.projects img:hover {
    opacity: 0.5;
    border-color: orangered;
    transition: all 0.5s ease-out;
}

/* UI gallery  */

.site-main .project-area {
    padding: 4rem 0;
}

.site-main .project-area .button-group button {
    background: ;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;
}

.site-main .project-area .button-group button+button {
    padding-left: 3rem;
}

.site-main .project-area .grid .our-project>.title h4 {
    font: normal 700 25px/12px var(--roboto);
    color: white;
}

.our-project {
    display: grid;
    grid-gap: 1.1rem;
    background: black;
    border: 5px white solid;
}

.site-main .project-area .grid .our-project .img a:hover img {
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

.boxes div {
    font-size: 19px;
    border: 3px magenta solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out;
}

.boxes div:hover {
    padding: 0.5rem 1.5rem;
    background: transparent;
    color: pink;
}

.boxes div:hover span {
    color: greenyellow;
}

.btn,
.btn-dark,
.btn-light {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
}

.btn:hover,
.btn-dark:hover,
.btn-light:hover {
    background: orangered;
    color: transparent;
}

.btn-dark {
    background: black;
    color: #fff;
}

.btn-light {
    background: black;
    color: pink;
}

#main-footer {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    background: transparent;
    color: white;
    height: 130px;
    font-size: 25px;
}

@media screen and (min-width: 1171px) {
    main .icons a:hover {
        color: black;
        transition: all 0.5s ease-out;
    }
    .project-area {
        font: normal 500 18px/40px var(--roboto);
    }
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
    main .icons a:hover {
        color: black;
        transition: all 0.5s ease-out;
    }
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    main .icons a:hover {
        color: black;
        transition: all 0.5s ease-out;
    }
    main {
        align-items: center;
        text-align: center;
    }
    main .lg-heading {
        line-height: 1;
        margin-bottom: 1rem;
    }
    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;
    }
    ul.menu-nav.show,
    div.menu-branding.show {
        transform: translate3d(0, 0, 0);
    }
    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }
    .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0);
    }
    .menu-branding .portrait {
        background: url("../img/zz.jpg");
        background-repeat: none;
        width: 150px;
        height: 1300px;
    }
    .about-info {
        grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
        grid-template-columns: 1fr;
    }
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 812px) {
    main .icons a:hover {
        color: black;
        transition: all 0.5s ease-out;
    }
    main {
        align-items: center;
        text-align: center;
    }
    main .lg-heading {
        line-height: 1;
        margin-bottom: 1rem;
    }
    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;
    }
    ul.menu-nav.show,
    div.menu-branding.show {
        transform: translate3d(0, 0, 0);
    }
    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }
    .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0);
    }
    .menu-branding .portrait {
        background: url("../img/zz.jpg");
        background-repeat: none;
        width: 150px;
        height: 1300px;
    }
    .about-info {
        grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
        grid-template-columns: 1fr;
    }
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    main .icons a:hover {
        color: black;
        transition: all 0.5s ease-out;
    }
    main {
        padding: 2rem;
    }
    main #home h1 {
        margin-top: 10vh;
    }
    main .lg-heading {
        margin-top: 1rem;
        font-size: 5rem;
    }
    .projects {
        grid-template-columns: 1fr;
    }
}